<div class="modal fade" id="recuperarContrasenia2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="recuperarContrasenia2-titulo">Recupera tu contraseña</h2>
                <p class="recuperarContrasenia2-texto">Revisa tu correo y sigue las indicaciones para recuperar tu contraseña.</p>
            </div>
        </div>
    </div>
</div>
