.content-preguntas-frecuentes{
    padding: 70px 140px 100px;
}

.linea-verde{
    max-width: 800px;
    height: 2px;
    background-color: #2bb289;
    margin: auto;
    margin-bottom: 55px;
}
.contenedor{
    width: 1050px;
}
.contenedor > h1{
    font-size: 3.3rem;
    color: #11434c;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.contenedor p{
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 20px;
    text-align: justify;
}
.contenedor > h2{
    color: #11434c;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 15px;
}
.contenedor > h3{
    color: #11434c;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.color-verde{
    color: #2bb289;
    font-weight: 600;
}

@media (max-width: 1600px) {
    .content-preguntas-frecuentes{
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 1440px) {
    .content-preguntas-frecuentes{
        padding-left: 70px;
        padding-right: 70px;
    }
    .contenedor > h1{
        font-size: 3rem;
    }
}
@media (max-width: 1200px) {
    .content-preguntas-frecuentes{
        padding-left: 50px;
        padding-right: 50px;
    }
    .contenedor > h1{
        font-size: 2.5rem;
    }
}
@media (max-width: 992px) {
    .content-preguntas-frecuentes{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
@media (max-width: 425px) {
    .content-preguntas-frecuentes{
        padding-left: 16px;
        padding-right: 16px;
    }
    .contenedor > h1{
        font-size: 2.4rem;
    }
    .contenedor p{
        font-size: 1.1rem;
        line-height: normal;
    }
}
@media (max-width: 375px) {}