.content-preguntas-frecuentes{
    padding: 70px 140px 100px;
}

.linea-verde{
    max-width: 800px;
    height: 2px;
    background-color: #2bb289;
    margin: auto;
    margin-bottom: 55px;
}
.contenedor{
    width: 1050px;
}
.contenedor > h1{
    font-size: 3.3rem;
    color: #11434c;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.contenedor p{
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 20px;
    text-align: justify;
}
.contenedor > h2{
    color: #11434c;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 15px;
}
.contenedor > h3{
    color: #11434c;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.color-verde{
    color: #2bb289;
    font-weight: 600;
}