// @font-face {
//     font-family: Myriad;
//     src: url('assets/fonts/MyriadVariableConcept-Roman.otf');
// }

// *{
//     font-family: Myriad;
// }

.header{
    background-color: #11434c;
	padding-top: 28px;
    padding-bottom: 28px;
	width: 100%;
}
