<header class="animated fadeIn overflow-hidden header">
    <div class="d-flex align-items-center justify-content-between mx-auto">
        <div class="header-1 text-center">
            <a class="" routerLink="/views/home">
                <img class="img-fluid img-logo" src="assets/img/inicio/logo.png" alt="">
            </a>
        </div>
        <div class="header-2 d-flex">
            <ul class="nav nav-fill justify-content-end align-items-center nav-menu">
                
                <a class="nav-link" routerLink="/views/home" routerLinkActive="nav-link-activo" [routerLinkActiveOptions]="{exact: true}">Inicio</a>

                <a class="nav-link" routerLink="/views/nosotros" routerLinkActive="nav-link-activo" [routerLinkActiveOptions]="{exact: true}">Conócenos</a>

                <a class="nav-link" routerLink="/views/catalogo" routerLinkActive="nav-link-activo" [routerLinkActiveOptions]="{exact: true}">Catálogo</a>

                <a class="nav-link" routerLink="/views/agroindustrial" routerLinkActive="nav-link-activo" [routerLinkActiveOptions]="{exact: true}">Agroindustrial</a>

                <a class="nav-link" routerLink="/views/novedades" routerLinkActive="nav-link-activo" [routerLinkActiveOptions]="{exact: true}">Novedades</a>
                
                <a class="nav-link" routerLink="/views/ubicanos" routerLinkActive="nav-link-activo" [routerLinkActiveOptions]="{exact: true}">Ubícanos</a>

                <!-- <div class="contenedor-rs-header">
                    <a class="header-fb d-inline-block me-3" href="#" target="_blank"><img class="header-img-fb" src="assets/img/inicio/facebook-header.png"><img class="img-fb-hover" src="assets/img/inicio/facebook-hover.png"></a>
                    <a class="header-inst d-inline-block" href="#" target="_blank"><img class="header-img-inst" src="assets/img/inicio/instagram-header.png"><img class="img-inst-hover" src="assets/img/inicio/instagram-hover.png"></a>
                </div> -->
            </ul>
            <button class="btn btn-light btn-abrir-menu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                <i class="bi bi-list"></i>
            </button>
        </div>
        <div class="header-3 d-flex align-items-center">
            <div class="d-flex align-items-center">
                <button class="btn">
                    <img class="img-fluid img-usuario" src="assets/img/inicio/user-icon.png" alt="">
                </button>
                <div class="div-mensajes-usuario">
                    <p class="mensaje-header">Hola</p>
                    <p class="mensaje-header">Inicia sesión</p>
                </div>
            </div>
            <div class="header-linea"></div>
            <div class="div-notificacion">
                <button class="btn">
                    <img class="img-fluid img-carrito" src="assets/img/inicio/shop-icon.png" alt="">
                    <div class="num-notificacion">20</div>
                </button>
            </div>
        </div>
    </div>          
</header>
