<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="login-titulo">Hola, inicia sesión aquí</h2>
                <div class="mb-3">
                    <label for="iptEmailLogin" class="form-label login-label">Correo electrónico</label>
                    <input type="email" class="form-control login-input" id="iptEmailLogin" placeholder="Ingresa tu correo electrónico">
                </div>
                <div class="mb-3">
                    <label for="iptPasswordLogin" class="form-label login-label">Contraseña</label>
                    <input type="password" class="form-control login-input" id="iptPasswordLogin" placeholder="Ingresa tu contraseña">
                </div>
                <div class="d-flex flex-column">
                    <a class="login-link-forgot-pass" href="www.google.com">¿Olvidaste tu contraseña?</a>
                    <button class="btn btn-login-ingresar">INGRESAR</button>
                    <p class="login-link-register">¿No tienes una cuenta? <a href="">Regístrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
