<div class="d-flex justify-content-center div-container">
    <div class="contenedor">
        <h1 class="titulo">Restablecer contraseña</h1>
        <p class="texto">A continuación ingresa tu nueva contraseña.</p>
        <div class="mb-4">
            <label for="iptContrasenia" class="form-label">Nueva contraseña</label>
            <input type="password" class="form-control" id="iptContrasenia" placeholder="Escribe tu nueva contraseña">
        </div>
        <div class="mb-4">
            <label for="iptConfirmarContrasenia" class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control" id="iptConfirmarContrasenia" placeholder="Re-escribe tu nueva contraseña">
        </div>
        <p class="informacion">*Tu contraseña debe tener mínimo 6 caracteres, sin espacios y caracteres especiales</p>
        <button class="btn btn-enviar">ENVIAR</button>
    </div>
</div>
