/* Modal recuperar contraseña 1 */
.modal-body{
    padding: 40px 50px 30px;
}
.modal-content{
    border-radius: 20px;
}
// #recuperarContrasenia1 .modal-dialog{
//     max-width: 470px;
// }
.recuperarContrasenia1-titulo{
    font-size: 2.2rem;
    color: #11434c;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.recuperarContrasenia1-texto{
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
}
.recuperarContrasenia-input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #2db18a;
    border-color: #2db18a;
}
.recuperarContrasenia-input::placeholder{
    color: #2db18a;
}
.recuperarContrasenia-input:focus{
    border-color: #2db18a;
    box-shadow: none;
}
.recuperarContrasenia-input:focus::placeholder{
    border-color: #2db18a;
}
.btn-recuperarContrasenia-enviar{
    background-color: #11434c !important;
    color: white !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
}
.recuperarContrasenia-register{
    text-align: center;
    font-size: 1.2rem;
}
.recuperarContrasenia-register > a{
    color: #11434c;
    text-decoration: none;
    font-weight: 500;
}

@media (min-width: 576px) {
    .modal-dialog{ 
        max-width: 470px;
    }
}

@media (max-width: 425px) {
    .modal-body{
        padding-left: 20px;
        padding-right: 20px;
    }
    .recuperarContrasenia1-titulo{
        font-size: 1.8rem;
    }
    .btn-recuperarContrasenia-enviar{
        font-size: 1.2rem;
    }
    .recuperarContrasenia1-texto{
        font-size: 1.1rem;
    }
    .recuperarContrasenia-register{
        font-size: 1.1rem;
    }
}