
<div class="modal fade" id="recuperarContrasenia1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="recuperarContrasenia1-titulo">Recupera tu contraseña</h2>
                <p class="recuperarContrasenia1-texto">Ingresa el correo electrónico de tu cuenta para proceder con la recuperación de tu contraseña.</p>
                <div class="mb-3">
                    <label for="iptEmailRecuperarContrasenia" class="form-label login-label">Correo electrónico</label>
                    <input type="email" class="form-control recuperarContrasenia-input" id="iptEmailRecuperarContrasenia" placeholder="Ingresa tu correo electrónico">
                </div>
                <button class="btn btn-recuperarContrasenia-enviar">ENVIAR</button>
                <p class="recuperarContrasenia-register">¿No tienes una cuenta? <a href="">Regístrate</a></p>
            </div>
        </div>
    </div>
</div>
