<div class="modal fade" id="cerrarSesionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="cerrarSesionModal-titulo">¿Deseas cerrar sesión?</h2>
                <p class="cerrarSesionModal-texto">Recuerda que para comprar nuestros productos debes mantener tu sesión iniciada.</p>
                <button class="btn cerrarSesionModalBtn-si">SÍ, SALIR</button>
                <button class="btn cerrarSesionModalBtn-no">NO, VOLVER</button>
            </div>
        </div>
    </div>
</div>
