.content-cuenta-creada{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 30px 150px;
}
.cuenta-creada-div{
    max-width: 420px;
}
.cuenta-creada-div > h1{
    color: #11434c;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
}
.cuenta-creada-div p{
    margin-bottom: 0;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.cuenta-creada-div p a{
    color: #2db18a;
    text-decoration: none;
    font-weight: 500;
}

@media (max-width: 425px) {
    .content-cuenta-creada{
        padding-left: 16px;
        padding-right: 16px;
    }
    .cuenta-creada-div > h1{
        font-size: 1.8rem;
        line-height: normal;
    }
    .cuenta-creada-div p{
        font-size: 1.1rem;
    }
}