<div class="d-flex justify-content-center div-container">
    <div class="contenedor">
        <h1 class="titulo">Cambio exitoso</h1>
        <p class="texto">Tu contraseña ha sido renovada, ya puedes iniciar sesión.</p>
        <div class="mb-4">
            <label for="iptCorreo" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="iptCorreo" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="mb-4">
            <label for="iptContrasenia" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="iptContrasenia" placeholder="Ingresa tu contraseña">
        </div>
        <a href="" class="enlace">¿Olvidaste tu contraseña?</a>
        <button class="btn btn-enviar">INGRESAR</button>
        <p class="aviso-registro">¿No tienes una cuenta? <a href="">Regístrate</a></p>
    </div>
</div>
