.content-proceso-compra-3{
    padding: 100px 140px 150px;
}
.contenido{
    /* width: 100%; */
    flex-grow: 1;
    margin-right: 50px;
}
.contenido-titulo{
    font-size: 3.3rem;
    color: #11434c;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 35px
}
.linea-verde{
    width: 100%;
    height: 2px;
    background-color: #2bb289;
    margin-bottom: 55px;
}

.div-resumen{
    margin-top: 20px;
    flex-shrink: 0;
    width: 500px;
    background-color: #ebf7f3;
    padding: 30px 40px 30px;
    border-radius: 20px;
}
.resumen-titulo{
    text-align: center;
    color: #11434c;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.resumen-sub{
    margin-bottom: 10px;
}

.resumen-item{
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 600;
    color: #2bb289;
    margin-bottom: 0;
}
.resumen-texto{
    font-size: 1.6rem;
    line-height: normal;
    margin-bottom: 0;
}
.linea-azul{
    width: 100%;
    height: 1px;
    background-color: #11434c;
    margin-top: 15px;
    margin-bottom: 25px;
}
.resumen-sub-total{
    margin-bottom: 20px;
}
.resumen-texto-total{
    font-size: 2.2rem;
    line-height: normal;
    font-weight: 600;
    color: #2bb289;
    margin-bottom: 0;
}
.resumen-total{
    font-size: 2.2rem;
    line-height: normal;
    margin-bottom: 0;
}
.resumen-btnComprar{
    background-color: #11434c;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 12px 80px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
.volver-cesta{
    font-size: 1.1rem;
    color: #11434c !important;
    text-decoration: none;
    border-bottom: 1px solid #11434c;
}

.div-metodo{
    background-color: #ebf7f3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form-check{
    padding-left: 3.3em;
    margin-right: 15px;
}
.form-check-input{
    width: 2.2em;
    height: 2.2em;
    margin-left: -3.3em !important;
    border-width: 2px;
    border-color: #11434c;
    background-color: #ebf7f3;
    
}
.form-check-input:checked{
    background-color: #11434c;
    border-color: #11434c;
}
.form-check-label{
    margin-top: 6px;
    font-size: 1.4rem;
}
.subtitulo{
    color: #11434c;
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
}
.div-comprobante{
    display: inline-block;
    background-color: #ebf7f3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 176px;
}

@media (max-width: 1600px) {
    .content-proceso-compra-3{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1440px) {
    .content-proceso-compra-3{
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media (max-width: 1200px) {
    .contenido-titulo{
        font-size: 3rem;
    }
    .content-proceso-compra-3{
        padding-left: 50px;
        padding-right: 50px;
    }
    .div-metodo{
        flex-direction: column;
    }
    .div-img-tarjetas{
        justify-content: center;
    }
    .form-check{
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .contenido-titulo{
        font-size: 2.8rem;
    }
    .content-proceso-compra-3{
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
        align-items: center !important;
    }
    .form-check{
        margin-bottom: 0;
    }
    .div-metodo{
        flex-direction: row;
    }
    .contenido{
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .div-metodo{
        flex-direction: column;
    }
    .div-img-tarjetas{
        justify-content: start !important;
    }
    .form-check{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .subtitulo{
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) {
    .div-img-tarjetas{
        justify-content: center !important;
    }
    .div-resumen{
        width: 100%;
    }
}

@media (max-width: 425px) {
    .contenido-titulo{
        font-size: 2.4rem;
        text-align: center;
    }
    .subtitulo{
        font-size: 1.5rem;
    }
    .content-proceso-compra-3{
        padding-left: 16px;
        padding-right: 16px;
    }
    .form-check{
        padding-left: 2.6em;
    }
    .form-check-input{
        width: 1.5em;
        height: 1.5em;
        margin-left: -2.6em !important;
    }
    .form-check-label{
        font-size: 1.2rem;
        margin-top: 3px;
    }
    .div-resumen{
        padding-left: 20px;
        padding-right: 20px;
    }
    .resumen-btnComprar{
        font-size: 1.2rem;
    }
    .div-comprobante:first-child{
        margin-right: 0 !important;
    }
    .div-comprobante{
        width: 100%;
    }
}

@media (max-width: 375px) {
    .contenido-titulo{
        font-size: 2.2rem;
    }
}