.content-libro-reclamaciones{
    padding: 70px 140px 100px;
}

.linea-verde{
    max-width: 800px;
    height: 2px;
    background-color: #2bb289;
    margin: auto;
    margin-bottom: 55px;
}
.contenedor{
    width: 1050px;
}
.contenedor > h1{
    font-size: 3.3rem;
    color: #11434c;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.contenedor > p{
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 15px;
    text-align: justify;
}
.contenedor > h3{
    color: #11434c;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 25px;
}
.color-verde{
    color: #2bb289;
    font-weight: 600;
}
.btn-formato{
    color: #2bb289;
    border: 2px solid #2bb289;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    border-radius: 10px;
}
.cuadro-verde{
    margin-top: 10px;
    border: 2px solid #2bb289;
    padding: 30px 30px 5px;
    border-radius: 10px;
}
.cuadro-verde > p{
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}


@media (max-width: 1600px) {
    .content-libro-reclamaciones{
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 1440px) {
    .content-libro-reclamaciones{
        padding-left: 70px;
        padding-right: 70px;
    }
    .contenedor > h1{
        font-size: 3rem;
    }
}
@media (max-width: 1200px) {
    .content-libro-reclamaciones{
        padding-left: 50px;
        padding-right: 50px;
    }
    .contenedor > h1{
        font-size: 2.5rem;
    }
}
@media (max-width: 992px) {
    .content-libro-reclamaciones{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 768px) {}
@media (max-width: 576px) {}
@media (max-width: 425px) {
    .content-libro-reclamaciones{
        padding-left: 16px;
        padding-right: 16px;
    }
    .contenedor > h1{
        font-size: 2.2rem;
    }
    .contenedor p{
        font-size: 1.1rem;
        line-height: normal;
    }
    .cuadro-verde{
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn-formato{
        font-size: 1.1rem;
    }
}
@media (max-width: 375px) {}