.content-proceso-compra-2{
    padding: 100px 140px 150px;
}
.contenido{
    /* width: 100%; */
    flex-grow: 1;
    margin-right: 50px;
}
.contenido-titulo{
    font-size: 3.3rem;
    color: #11434c;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 35px
}
.linea-verde{
    width: 100%;
    height: 2px;
    background-color: #2bb289;
    margin-bottom: 55px;
}
.cuadro-verde{
    padding: 30px;
    background-color: #ebf7f3;
    border-radius: 20px;
    margin-bottom: 30px;
}
.titulo-cuadro{
    color: #11434c;
    font-size: 1.7rem;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 10px;
}
.texto-cuadro{
    font-size: 1.4rem;
    line-height: normal;
    margin-bottom: 5px;
}
.texto-referencia{
    font-size: 1.1rem;
    margin-bottom: 0;
}
.btn-modificar{
    font-size: 1.3rem;
    color: #11434c;
    border: 2px solid #11434c;
    background: transparent;
    padding: 12px 20px 8px;
    font-weight: 600;
    border-radius: 10px;
}
.cuadro-azul{
    background-color: #11434c;
    padding: 20px 30px;
    border-radius: 20px;
}
.cuadro-azul > p{
    color: white;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: justify;
}

.div-resumen{
    margin-top: 20px;
    flex-shrink: 0;
    width: 500px;
    background-color: #ebf7f3;
    padding: 30px 40px 30px;
    border-radius: 20px;
}
.resumen-titulo{
    text-align: center;
    color: #11434c;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.resumen-sub{
    margin-bottom: 10px;
}

.resumen-item{
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 600;
    color: #2bb289;
    margin-bottom: 0;
}
.resumen-texto{
    font-size: 1.6rem;
    line-height: normal;
    margin-bottom: 0;
}
.linea-azul{
    width: 100%;
    height: 1px;
    background-color: #11434c;
    margin-top: 15px;
    margin-bottom: 25px;
}
.resumen-sub-total{
    margin-bottom: 20px;
}
.resumen-texto-total{
    font-size: 2.2rem;
    line-height: normal;
    font-weight: 600;
    color: #2bb289;
    margin-bottom: 0;
}
.resumen-total{
    font-size: 2.2rem;
    line-height: normal;
    margin-bottom: 0;
}
.resumen-btnContinuar{
    background-color: #11434c;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 12px 30px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
.volver-cesta{
    font-size: 1.1rem;
    color: #11434c !important;
    text-decoration: none;
    border-bottom: 1px solid #11434c;
}
