/* You can add global styles to this file, and also import other style files */
@font-face {
    // font-family: Myriad;
    // src: url('assets/fonts/MyriadVariableConcept-Roman.otf');
    font-family: Inter;
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

*{
    /* font-family: 'Baloo Chettan 2', cursive; */
    // font-family: Myriad;
    font-family: Inter;
}
.overflow-x-hidden{
    overflow-x: hidden !important;
}
.main-web{
    /* min-height: 80vh; */
    min-height: 40vh;
}


/* .nav-link-activo::after{
    border-radius: 5px;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #ad17ba;
    display: block;
} */




@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
