/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Myriad;
    src: url('assets/fonts/MyriadVariableConcept-Roman.otf');
}

*{
    /* font-family: 'Baloo Chettan 2', cursive; */
    font-family: Myriad;
}
.overflow-x-hidden{
    overflow-x: hidden !important;
}
.main-web{
    /* min-height: 80vh; */
    min-height: 40vh;
}


/* .nav-link-activo::after{
    border-radius: 5px;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #ad17ba;
    display: block;
} */



/* Modal login */
#loginModal .modal-body{
    padding: 40px 50px 30px;
}
#loginModal .modal-content{
    border-radius: 20px;
}
.login-titulo{
    font-size: 2.2rem;
    color: #11434c;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.login-label{
    color: #11434c;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0;
}
.login-input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}
.login-input:focus{
    border-color: #2db18a;
    box-shadow: none;
}
.login-input:focus::placeholder{
    color: #2db18a;
}
.login-link-forgot-pass{
    text-decoration: none;
    color: #212529;
    font-size: 1.1rem;
}
.login-link-forgot-pass:hover{
    color: #11434c;
}
.btn-login-ingresar{
    background-color: #11434c !important;
    color: white !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 500;
}
.login-link-register{
    text-align: center;
    font-size: 1.2rem;
}
.login-link-register > a{
    color: #11434c;
    text-decoration: none;
    font-weight: 500;
}


/* Modal recuperar contraseña 1 */
#recuperarContrasenia1 .modal-body{
    padding: 40px 50px 30px;
}
#recuperarContrasenia1 .modal-content{
    border-radius: 20px;
}
#recuperarContrasenia1 .modal-dialog{
    max-width: 470px;
}
.recuperarContrasenia1-titulo{
    font-size: 2.2rem;
    color: #11434c;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.recuperarContrasenia1-texto{
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
}
.recuperarContrasenia-input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #2db18a;
    border-color: #2db18a;
}
.recuperarContrasenia-input::placeholder{
    color: #2db18a;
}
.recuperarContrasenia-input:focus{
    border-color: #2db18a;
    box-shadow: none;
}
.recuperarContrasenia-input:focus::placeholder{
    border-color: #2db18a;
}
.btn-recuperarContrasenia-enviar{
    background-color: #11434c !important;
    color: white !important;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
}
.recuperarContrasenia-register{
    text-align: center;
    font-size: 1.2rem;
}
.recuperarContrasenia-register > a{
    color: #11434c;
    text-decoration: none;
    font-weight: 500;
}


/* Modal recuperar contraseña 2 */
#recuperarContrasenia2 .modal-body{
    padding: 40px 50px 30px;
}
#recuperarContrasenia2 .modal-content{
    border-radius: 20px;
}
#recuperarContrasenia2 .modal-dialog{
    max-width: 480px;
}
.recuperarContrasenia2-titulo{
    font-size: 2.2rem;
    color: #11434c;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.recuperarContrasenia2-texto{
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
}


/* Perfil Menu */
.perfilMenu{
    width: 395px;
    overflow: hidden;
    border-radius: 20px;
}
.perfilMenu-1{
    background-color: #d1efe5;
    padding: 30px 40px;
}
.img-perfilMenu-1{
    margin-right: 20px
}
.text-1-perfilMenu-1{
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin-bottom: 0;
    color: #11434c;
}
.text-2-perfilMenu-1{
    margin-bottom: 0;
    color: #11434c;
    font-size: 2.1rem;
    line-height: 2.1rem;
    font-weight: 700;
}
.perfilMenu-2-enlace{
    background-color: #e5f6f0;
    padding: 20px 40px 25px;
    text-decoration: none;
    display: block;
}
.perfilMenu-2-enlace > span{
    color: #11434c;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    top: 5px
}
.perfilMenu-2-enlace > img{
    margin-right: 15px;
}
.perfilMenu-2-enlace:hover{
    background-color: #c0e8dd;
}
.perfilMenu-2-enlace-activo{
    background-color: #c0e8dd;
}
.perfilMenu-2-enlace-activo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 8px;
    background-color: #11434c;
}


/* Modal Cerrar Sesion */
#cerrarSesionModal .modal-body{
    padding: 40px 50px 30px;
}
#cerrarSesionModal .modal-dialog{
    max-width: 480px;
}
#cerrarSesionModal .modal-content{
    border-radius: 20px;
}
.cerrarSesionModal-titulo{
    font-size: 2.2rem;
    color: #11434c;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.cerrarSesionModal-texto{
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
}
.cerrarSesionModalBtn-si{
    background-color: #11434c !important;
    color: white !important;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 1.4rem;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
}
.cerrarSesionModalBtn-no{
    background-color: white !important;
    color: #2db18a !important;
    border-color: #2db18a !important;
    border-width: 2px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
}

/* Carrito preview */
#offcanvas-carritoPreview{
    width: 520px;
    border-left: 2px solid #2bb289;
}
#offcanvas-carritoPreview > .offcanvas-header{
    justify-content: start;
    align-items: center;
    padding-top: 10px;
}
#offcanvas-carritoPreview .offcanvas-body{
    padding: 0;
}
#offcanvas-carritoPreview .btn-cerrarCarritoPreview{
    font-size: 1.4rem;
    font-weight: 600;
    color: #2bb289 !important;
    padding: 0;
}
#offcanvas-carritoPreview .btn-cerrarCarritoPreview > i{
    font-size: 1.8rem;
    position: relative;
    margin-right: 5px;
    top: 3px;
}
#offcanvas-carritoPreview .carritoPreviewTitulo{
    text-align: center;
    color: #11434c;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}
#offcanvas-carritoPreview .carritoPreview-producto{
    border-radius: 10px;
    padding: 16px;
    background-color: #ebf7f3;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
#offcanvas-carritoPreview .carritoPreview-img-producto{
    border-radius: 5px;
    margin-right: 18px;
}
#offcanvas-carritoPreview .carritoPreview-contenedor-producto{
    flex-grow: 1;
}
#offcanvas-carritoPreview .carritoPreview-nombre-producto{
    color: #11434c;
    font-size: 1.3rem;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 2px;
}
#offcanvas-carritoPreview .carritoPreview-btn-accion{
    background-color: #53bf9f;
    font-size: 1.3rem;
    line-height: normal;
    padding: 6px 6px 2px;
    border: none;
    border-radius: 6px;
}
#offcanvas-carritoPreview .carritoPreview-btn-accion:hover{
    background-color: #d7f1e8;
}
#offcanvas-carritoPreview .carritoPreview-cantidad-producto{
    font-size: 1.3rem;
    color: #11434c;
    margin-left: 8px;
    margin-right: 8px;
    /* position: relative; */
    /* top: 4px; */
}
#offcanvas-carritoPreview .carritoPreview-precio-producto{
    color: #2bb289;
    font-size: 1.4rem;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 0;
}
#offcanvas-carritoPreview .carritoPreview-precio-producto span{
    font-size: 1.1rem;
    font-weight: 400;
    color: black;
}
#offcanvas-carritoPreview .carritoPreview-btn-eliminar{
    font-size: 1.1rem;
    line-height: normal;
    color: #11434c;
    background: none;
    border: none;
    border-bottom: 1px solid #11434c;
    padding: 0;
    padding-bottom: 3px;
}

#offcanvas-carritoPreview .carritoPreview-resumen-div{
    background-color: #d5eee8;
    padding: 30px 40px 30px;
}
#offcanvas-carritoPreview .carritoPreview-resumen-titulo{
    text-align: center;
    color: #11434c;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}
#offcanvas-carritoPreview .carritoPreview-resumen-texto-subtotal{
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 600;
    color: #2bb289;
    margin-bottom: 0;
}
#offcanvas-carritoPreview .carritoPreview-resumen-subtotal{
    font-size: 1.6rem;
    line-height: normal;
    margin-bottom: 0;
}
#offcanvas-carritoPreview .carritoPreview-resumen-sub{
    margin-bottom: 10px;
}
#offcanvas-carritoPreview .carritoPreview-resumen-parrafo{
    color: #11434c;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 25px;
}
#offcanvas-carritoPreview .carritoPreview-resumen-btnVerCesta{
    background-color: #11434c;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 12px 80px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1600px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
