.content-proceso-compra-4{
    padding: 110px 140px 200px;
}
.contenido{
    width: 600px;
}
.contenido > h1{
    font-size: 3.3rem;
    color: #11434c;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.linea-verde{
    width: 100%;
    height: 2px;
    background-color: #2bb289;
    margin: auto;
    margin-bottom: 55px;
}
.contenido > p{
    color: #11434c;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    max-width: 525px;
    overflow-wrap: break-word;
}
.contenido > p > span{
    color: #2bb289;
    font-weight: 500;
}

.div-resumen{
    // margin: auto;
    // flex-shrink: 0;
    // flex-basis: 500px;
    background-color: #ebf7f3;
    padding: 30px 40px 30px;
    border-radius: 20px;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}
.resumen-titulo{
    text-align: center;
    color: #11434c;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.resumen-sub{
    margin-bottom: 10px;
}

.resumen-item{
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 600;
    color: #2bb289;
    margin-bottom: 0;
}
.resumen-texto{
    font-size: 1.6rem;
    line-height: normal;
    margin-bottom: 0;
}
.linea-azul{
    width: 100%;
    height: 1px;
    background-color: #11434c;
    margin-top: 25px;
    margin-bottom: 25px;
}
.resumen-sub-total{
    margin-bottom: 20px;
}
.resumen-texto-total{
    font-size: 2.2rem;
    line-height: normal;
    font-weight: 600;
    color: #2bb289;
    margin-bottom: 0;
}
.resumen-total{
    font-size: 2.2rem;
    line-height: normal;
    margin-bottom: 0;
}
.resumen-btnCompras{
    background-color: #11434c;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 12px 45px 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}


@media (max-width: 1600px) {
    .content-proceso-compra-4{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 1440px) {
    .content-proceso-compra-4{
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media (max-width: 1200px) {
    .content-proceso-compra-4{
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media (max-width: 992px) {
    .content-proceso-compra-4{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 576px) {
    .div-resumen{
        width: auto;
    }
}

@media (max-width: 425px) {
    .content-proceso-compra-4{
        padding-left: 16px;
        padding-right: 16px;
    }
    .contenido > h1{
        font-size: 2.4rem;
    }
    .div-resumen{
        padding-left: 20px;
        padding-right: 20px;
    }
    .resumen-titulo{
        font-size: 1.8rem;
    }
    .resumen-btnCompras{
        font-size: 1.1rem;
    }
    .resumen-item{
        font-size: 1.3rem;
    }
    .resumen-texto{
        font-size: 1.3rem;
    }
    .resumen-texto-total{
        font-size: 1.9rem;
    }
    .resumen-total{
        font-size: 1.9rem;
    }
}