<footer class="container-fluid px-0">
    <div class="footer-content-1">
        <div class="d-flex justify-content-center align-items-center">
            <div class="footer-1 d-flex flex-column">
                <p class="footer-text-1">Suscríbete a nuestro Boletín de Noticias</p>
                <p class="footer-text-2">Así podrás estar al tanto de nuevos productos.</p>
            </div>
            <div class="input-correo input-group mb-3">
                <input type="text" class="form-control" placeholder="Escribe tu correo aquí..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <button class="input-group-text" id="basic-addon2"><img src="assets/img/inicio/send.png"></button>
            </div>
        </div>
    </div>
    <div class="footer-content-2">
        <div class="footer-sub-content d-flex justify-content-between">
            <div class="footer-div-1 d-flex">
                <div class="footer-sub-1 d-flex flex-column">
                    <h3 class="footer-titulo">Cotrina</h3>
                    <div class="d-flex flex-column align-items-start">
                        <a class="footer-enlace" href="">Nosotros</a>
                        <a class="footer-enlace" href="">Novedades</a>
                        <a class="footer-enlace" href="">Ubícanos</a>
                    </div>
                </div>
                <div class="footer-sub-2 d-flex flex-column">
                    <h3 class="footer-titulo">Servicio al Cliente</h3>
                    <div class="d-flex flex-column align-items-start">
                        <a class="footer-enlace" href="">Términos y Condiciones</a>
                        <a class="footer-enlace" href="">Libro de Reclamaciones</a>
                        <a class="footer-enlace" href="">Preguntas Frecuentes</a>
                    </div>
                </div>
            </div>
            <div class="footer-div-2 d-flex">
                <div class="footer-sub-3 d-flex flex-column">
                    <h3 class="footer-titulo">Métodos de Pago</h3>
                    <div class="div-img-metodos">
                        <img class="img-fluid me-3" src="assets/img/inicio/visa.png" alt="">
                        <img class="img-fluid me-3" src="assets/img/inicio/mastercard.png" alt="">
                        <img class="img-fluid" src="assets/img/inicio/diners.png" alt="">
                    </div>
                </div>
                <div class="footer-sub-4">
                    <img src="assets/img/inicio/libro-reclamaciones.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-div-3 d-flex justify-content-between">
            <p>Diseñado por Katana Studio.</p>
            <p>© Cotrina. Todos los derechos reservados.</p>
            <div class="d-flex">
                <p class="me-3">Síguenos</p>
                <div>
                    <a href="http://" class="me-3"><img src="assets/img/inicio/facebook.png" alt=""></a>
                    <a href="http://" class="me-3"><img src="assets/img/inicio/instagram.png" alt=""></a>
                    <a href="http://" class=""><img src="assets/img/inicio/linkedin.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
